body {
    background-color: #363945;
    max-width: auto;
    margin: auto;
}

.title {
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 75px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
}

.title1 {
    font-family: 'Helvetica Neue', sans-serif; 
    color: rgb(237, 241, 255);
    font-size: 20px; 
    letter-spacing: 1px; 
    line-height: 1; 
    text-align: center;
}

.red {
    color: LightCoral;
}

.green {
    color: LightGreen;
}

.chart {
    width: 400px;
    height: 390px;
    border: lightgreen solid 5px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 10pxp;
}

.container2 {
    background-colour: #363945;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
