/* Background credit to Alison Quaglia*/

body {
    background: linear-gradient(-45deg,  #e76f51,#e76f51,#2a9d8f,#264653, #001219,#001219,#001219);
    background-size: 200% 200%;
    animation: gradient 30s ease infinite;
    overflow-x: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

footer {
    height: 100px
}

.heading {
    font-family: Inter,sans-serif;
    font-size: 50px; 
    font-weight: bold;
    letter-spacing: -1px; 
    line-height: 1;  
    margin: 1rem;
}

iframe {
    margin-right: auto;
    margin-left: auto;
    width: 810px;
    height: 500px;
    border: #2a9d8f solid 5px;
    border-radius: 10px;
    margin: 10px;
}

p {
    font-weight: 300;
    color: #E9C46A;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    width: 700px;
    text-align: left;
    margin: 0 auto;
    max-width: min(90vw, 700px);
}

a {
    font-weight: 5px;
    color: #E9C46A;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

/*nav bar*/

.flex {
    display: flex;
    gap: var(--gap, 2rem);
}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0 30px 0 0;
    --gap: 6.2em;
}

.a-nav {
    text-decoration: none;
    font-weight: 1px;
    font-size: 20px;
}

.mobile-nav-toggle {
    display: none;
}

a:hover {
    color: #2a9d8f;
}

.cross {
    position: absolute;
    transform: translateX(500%);
}

.title1 {
    font-family: 'Open Sans', sans-serif;
    color: #E9C46A;
    font-size: 16px; 
    letter-spacing: 1px; 
    line-height: 1; 
    text-align: center;
    font-weight: 500;
}

.bold {
    font-weight:bold
}

.orange {
    color: #e76f51;
}

.turquoise {
    color: #2a9d8f;
}

#chart17 {
    position: absolute;
    margin-top: 190px;
    right: 120px;
}

.chart { 
    width: 400px;
    height: 390px;
    margin: 10px;
    padding: 5px;
    background-color: White;
    border: #2a9d8f solid 5px;
    border-radius: 10px;
    font-family: Inter,sans-serif;
    font-size: 10pxp;
}

.pngchart {
    margin: 10px;
    padding: 5px;
    background-color: White;
    border: #2a9d8f solid 5px;
    border-radius: 10px;
    font-family: Inter,sans-serif;
    font-size: 10pxp;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: left;
}

.pngchart img{
    justify-content: center;
    width: 100%;
    height: auto;
}

/* Loading Bar & Message */

#loader {
    margin: 150px auto 50px auto;
    width: 120px;
    height: 120px;
    border: 16px solid Gainsboro;
    border-radius: 50%;
    border-top: 16px solid #2A9D8F;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loadermsg {
    position: relative;
    font-weight: bold;
    font-family: Inter,sans-serif;
    color: #E9C46A;
    font-size: 20px; 
    letter-spacing: 1px; 
    line-height: 1; 
    text-align: center;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to fade in charts */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

#myDiv {
    display: none;
}

@media (max-width: 480px) {
    body {
        overflow-x: hidden;
    }
    .heading {
        font-size: 32px;
    }
    .chart {
        width: 380px;
    }
    .title1 {
        font-size: 15px;
    }
    #loadermsg {
        font-size: 15px;
    }
    #loader {
        margin: 50px auto 50px auto;
    }
    .pngchart {
        width: 390px;
    }
    #chart17 {
        position: relative;
        margin-top: auto;
        right: auto;
    }
    /*nav bar*/
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        --gap: 2em;

        background: hsl(0 0% 0% / 0.8);

        padding: 10em 2em;
        z-index: 1000;

        transform: translateX(120%);
        transition: transform 350ms ease-in;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(15%);
    }

    @supports (backdrop-filter: blur(1rem)) {
        .primary-navigation {
            background: hsl(0 0% 0% / 0.5);
            backdrop-filter: blur(1rem);
        }
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        width: 2rem;
        aspect-ratio: 1;
        top: 1.5rem;
        right: 2.5rem;
        z-index: 9999;
        border: 0;

        background: url(hamburger.svg);
        background-repeat: no-repeat;
    }

    .mobile-nav-toggle[data-visible="true"] {
        background: url(cross.svg);
        fill: #E9C46A;
    }
}
