body{

    background-color: #363945;
    max-width: auto;
    margin: auto;
}

.chart {
    width: 400px;
    height: 400px
    border: lightgreen solid 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
}

.title {
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 75px; 
    font-weight: bold; 
    letter-spacing: 1px; 
    line-height: 1; 
    text-align: center;
}

.title1 {
    font-family: 'Helvetica Neue', sans-serif; 
    color: rgb(237, 241, 255);
    font-size: 20px; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
}

.red {
    color: LightCoral;
}

.green {
    color: LightGreen;
}
